{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        
    </head>
    <body>
        <div class="container-dios">
            <div class="cabezar">
                <div id="container1">
                    <ul>
                        <li><a href="{% url 'post_list' %}">MENU PRINCIPAL</a></li>
                        <a href="{% url 'post_new' %}" class="top-menu"><span><h1>NUEVO POST</h1></span></a>
                    </ul>
                </div>   
            </div>
          
                    {% block content %}
                    {% endblock %}       

        </div>
    </body>
</html>
