{% extends 'blog/base2.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
         
        {% endif %}
        <div id="tituloo"><h2 style="padding: 10px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                                    font-size: 50px;">{{ post.title }}</h2> </div>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <div id="container-noticia">
            <div id="imageen"> imagen</div>
            <div id="contenidoo">
                <h2 id="notitulo" style="font-size: 25px;">AUTOR: {{ post.author }}</h2> 
                <h2 id="nofecha" style="font-size: 25px;">FECHA: {{ post.published_date }}</h2> <br>
                <p style="font-size: 20px;">{{ post.text|linebreaksbr }}</p>
            </div>
        </div>
    </div>
{% endblock %}